<%= form_with(model: @stock_control, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :impressora_id, 'Impressora' %>
    <%= form.collection_select :impressora_id, Impressora.all, :id, :modelo, { prompt: 'Selecione a impressora' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ciano, 'Quantidade Ciano' %>
    <%= form.number_field :ciano, class: 'form-control', step: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :magenta, 'Quantidade Magenta' %>
    <%= form.number_field :magenta, class: 'form-control', step: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :amarelo, 'Quantidade Amarelo' %>
    <%= form.number_field :amarelo, class: 'form-control', step: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :preto, 'Quantidade Preto' %>
    <%= form.number_field :preto, class: 'form-control', step: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :operation_type, 'Tipo de Operação' %>
    <%= form.select :operation_type, options_for_select(['entrada', 'saída'], @stock_control.operation_type), { prompt: 'Selecione o tipo de operação' }, class: 'form-control' %>
  </div>

  <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', stock_controls_path, class: 'btn btn-secondary' %>
<% end %>
