<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Controle de Estoque' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag '//www.gstatic.com/charts/loader.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'stock_controls/stock_controls', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>
<body>

  <div class="container mt-4">
    <h1>Controle de Estoque</h1>

    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Impressora</th>
          <th>Quantidade Ciano</th>
          <th>Quantidade Magenta</th>
          <th>Quantidade Amarelo</th>
          <th>Quantidade Preto</th>
          <th>Tipo de Operação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @stock_controls.each do |stock_control| %>
          <tr>
            <td><%= link_to stock_control.impressora.modelo, impressora_path(stock_control.impressora) %></td>
            <td><%= stock_control.ciano %></td>
            <td><%= stock_control.magenta %></td>
            <td><%= stock_control.amarelo %></td>
            <td><%= stock_control.preto %></td>
            <td><%= stock_control.operation_type.capitalize %></td>
            <td>
              <%= link_to 'Mostrar', stock_control_path(stock_control), class: 'btn btn-info btn-sm' %>
              <%= link_to 'Editar', edit_stock_control_path(stock_control), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Excluir', stock_control_path(stock_control), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Voltar', root_path, class: 'btn btn-secondary mt-3' %>
  </div>

  <!-- Inclusão do JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= javascript_tag do %>
    // Carregar a biblioteca do Google Charts
    google.charts.load('current', { 'packages': ['corechart'] });
  <% end %>

</body>
</html>
