<!DOCTYPE html>
<html>
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a biblioteca jQuery e o JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>

<body>
  <div class="container mt-4">
    <h1 class="mb-4">Artigo Criado com Sucesso!</h1>
    <p class="lead">O artigo "<%= @article.title %>" foi criado com sucesso.</p>

    <%= link_to 'Voltar para a Lista de Artigos', articles_path, class: 'btn btn-primary' %>
    <%= link_to 'Criar Novo Artigo', new_article_path, class: 'btn btn-secondary' %>
  </div>
</body>
</html>
