<!DOCTYPE html>
<html>
<head>
  <title>Criar Novo Artigo - Meu Aplicativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a biblioteca jQuery e o JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>

<body>
  <div class="container mt-4">
    <h1 class="mb-4">Criar Novo Artigo</h1>

    <%= render 'form', article: @article %>

    <%= link_to 'Voltar', articles_path, class: 'btn btn-secondary mt-3' %>
  </div>
</body>
</html>
