<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Meu Aplicativo' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag '//www.gstatic.com/charts/loader.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'impressoras/impressoras', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>
<body>

  <div class="container mt-4">
    <% if @impressora.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@impressora.errors.count, "error") %> prohibited this impressora from being saved:</h2>
        <ul>
          <% @impressora.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1 class="mb-4"><%= content_for?(:title) ? yield(:title) : 'Impressoras' %></h1>

    <%= form_with(model: @impressora, local: true, html: { multipart: true }) do |form| %>
      <div class="form-group">
        <%= form.label :departamento %>
        <%= form.text_field :departamento, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :loja %>
        <%= form.text_field :loja, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :proprietario %>
        <%= form.text_field :proprietario, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :modelo %>
        <%= form.text_field :modelo, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :nPatrimonio %>
        <%= form.text_field :nPatrimonio, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :nSerie %>
        <%= form.text_field :nSerie, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :nGps %>
        <%= form.text_field :nGps, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :foto, "Foto da Impressora" %>
        <%= form.file_field :foto, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :toner_foto, "Foto do Toner" %>
        <%= form.file_field :toner_foto, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :tonerModelo %>
        <%= form.text_field :tonerModelo, class: 'form-control' %>
      </div>

      <div class="form-group">
  <%= form.label :toner_quantity, "Quantidade de Toner" %>
  <%= form.number_field :toner_quantity, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :stock, "Estoque" %>
  <%= form.number_field :stock, class: 'form-control' %>
</div>

      <div class="form-group">
        <%= form.label :ativa %>
        <%= form.check_box :ativa %>
      </div>

      <div class="form-group">
        <%= form.label :tempodeuso %>
        <%= form.number_field :tempodeuso, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :info %>
        <%= form.text_area :info, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :info1 %>
        <%= form.text_area :info1, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :info3 %>
        <%= form.text_area :info3, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :info4 %>
        <%= form.text_area :info4, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :info5 %>
        <%= form.text_area :info5, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

  <!-- Inclusão do JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= javascript_tag do %>
    // Carregar a biblioteca do Google Charts
    google.charts.load('current', { 'packages': ['corechart'] });
  <% end %>

</body>
</html>
