<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Meu Aplicativo' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir o jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir o JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>

  <!-- Carregar a biblioteca do Google Charts -->
  <%= javascript_tag do %>
    google.charts.load('current', { 'packages': ['corechart'] });
  <% end %>
</head>
<body>
  <div class="container mt-4">
    <h1><%= content_for?(:title) ? yield(:title) : 'Impressoras' %></h1>

    <% if notice.present? %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>

    <!-- Formulário de Pesquisa -->
    <%= form_with(url: impressoras_path, method: :get, local: true, class: 'mb-4') do %>
      <div class="form-group">
        <%= label_tag :search, "Pesquisar Impressoras", class: 'form-label' %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Digite o modelo da impressora' %>
        <div class="mt-2">
        <%= submit_tag 'Pesquisar', class: 'btn btn-primary' %>
                  <%= link_to 'Nova Impressora', new_impressora_path, class: 'btn btn-primary' %>

        </div>
      </div>
    <% end %>

    <div id="impressoras">
      <% @impressoras.each do |impressora| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= impressora.modelo %></h5>
            <p class="card-text">
              <strong>Departamento:</strong> <%= impressora.departamento %><br>
            </p>
            <%= link_to 'Ver Detalhes', impressora, class: 'btn btn-info mr-2' %>

          </div>
        </div>
      <% end %>
    </div>

  </div>
</body>
</html>
