<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Meu Aplicativo' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag '//www.gstatic.com/charts/loader.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'impressoras/show', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>
<body>


    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="card border-primary mb-4">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><%= @impressora.modelo %></h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">Detalhes da Impressora</h5>
            <p class="card-text">
              <strong>Modelo:</strong> <%= @impressora.modelo %><br>
              <strong>Proprietário:</strong> <%= @impressora.proprietario %><br>
              <strong>Local:</strong> <%= @impressora.departamento %>
            </p>

            <div class="row">
              <div class="col-md-6 mb-3">
                <h6>Foto da Impressora</h6>
                <% if @impressora.foto.attached? %>
                  <%= image_tag @impressora.foto, class: "img-fluid rounded" %>
                <% else %>
                  <span class="text-muted">Nenhuma foto disponível</span>
                <% end %>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Foto do Toner</h6>
                <% if @impressora.toner_foto.attached? %>
                  <%= image_tag @impressora.toner_foto, class: "img-fluid rounded" %>
                <% else %>
                  <span class="text-muted">Nenhuma foto disponível</span>
                <% end %>
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <%= link_to "Editar Impressora", edit_impressora_path(@impressora), class: "btn btn-warning" %>
              <%= button_to "Excluir Impressora", @impressora, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: "btn btn-danger" %>
              <%= link_to "Voltar", impressoras_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Inclusão do JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= javascript_tag do %>
    // Carregar a biblioteca do Google Charts
    google.charts.load('current', { 'packages': ['corechart'] });
  <% end %>

</body>
</html>
