<div id="<%= dom_id vpn %>">
  <p>
    <strong>Local:</strong>
    <%= vpn.local %>
  </p>

  <p>
    <strong>Nomedaconexao:</strong>
    <%= vpn.nomedaconexao %>
  </p>

  <p>
    <strong>Gatewayremoto:</strong>
    <%= vpn.gatewayremoto %>
  </p>

  <p>
    <strong>Chave:</strong>
    <%= vpn.chave %>
  </p>

</div>
