<!DOCTYPE html>
<html>
<head>
  <title>Meu Aplicativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag '//www.gstatic.com/charts/loader.js' %>

  <!-- Carregar o arquivo JavaScript principal -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir o CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Carregar o arquivo de estilo específico -->
  <%= stylesheet_link_tag 'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>
</head>

<body>

  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <% content_for :title, "VPNs" %>

  <div id="vpns">
    <% @vpns.each do |vpn| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= vpn.nomedaconexao %></h5>
          <p class="card-text">
            <strong>Local:</strong> <%= vpn.local %><br>
            <strong>Gateway Remoto:</strong> <%= vpn.gatewayremoto %><br>
            <strong>Chave:</strong> <%= vpn.chave %>
          </p>
          <%= link_to "Show this VPN", vpn, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New VPN", new_vpn_path, class: "btn btn-success mt-3" %>

  <!-- Inclusão do JavaScript do Bootstrap -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  <%= javascript_tag do %>
    // Carregar a biblioteca do Google Charts
    google.charts.load('current', { 'packages': ['corechart'] });
  <% end %>

</body>
</html>
